@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

@mixin boxStats($x) {
  width: $x;
  border-radius: 3rem;
  padding: 1rem 0;
  margin: 2rem auto;
  background: $white-transparent;
  box-shadow: 4px 4px $black;
}
@mixin background($imgLink) {
  background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url($imgLink);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s ease-in-out;
}

$semi-white: #fafafa;
$white-transparent: rgba(255, 255, 255, 0.2);
$black: rgba(0, 0, 0, 0.4);
