@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 10px;
  font-family: "Inconsolata", monospace;
}

body .app {
  background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("./assets/app.gif");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

body .rain {
  background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("./assets/deszcz.gif");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

body .snow {
  background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("./assets/snieg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

body .thunderstorm {
  background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("./assets/deszcz.gif");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

body .clear {
  background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("./assets/słońce.gif");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

body .clouds {
  background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("./assets/pochmurno.gif");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

body main {
  height: 100vh;
  width: 100%;
  margin-top: -2rem;
}

body main .search_box {
  margin-top: 2rem;
  text-align: center;
}

body main .search_box input {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  padding: 2rem;
  color: #fafafa;
  width: 90%;
  border-radius: 3rem;
  padding: 1rem 0;
  margin: 2rem auto;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
}

body main .search_box input::-webkit-input-placeholder {
  color: #fafafa;
}

body main .search_box input:-ms-input-placeholder {
  color: #fafafa;
}

body main .search_box input::-ms-input-placeholder {
  color: #fafafa;
}

body main .search_box input::placeholder {
  color: #fafafa;
}

body main .main_box {
  margin: 15rem 0;
  text-align: center;
  color: #fafafa;
}

body main .main_box .main_daytime {
  font-size: 4rem;
  width: 50%;
  border-radius: 3rem;
  padding: 1rem 0;
  margin: 2rem auto;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
}

body main .main_box .main_city {
  font-size: 10rem;
  font-weight: 700;
  width: 80%;
  border-radius: 3rem;
  padding: 1rem 0;
  margin: 2rem auto;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
}

body main .main_box .main_temperature {
  font-size: 25rem;
  font-weight: 900;
  width: 60%;
  border-radius: 3rem;
  padding: 1rem 0;
  margin: 2rem auto;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
}

body main .main_box .main_state {
  font-size: 7rem;
  font-weight: 700;
  text-transform: capitalize;
  width: 80%;
  border-radius: 3rem;
  padding: 1rem 0;
  margin: 2rem auto;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
}
